@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
	--primary-bg-color: #fff;
	--secondary-bg-color: #fafaff;
	--tertiary-bg-color: #f5f5fa;
	--quaternary-bg-color: #f2f2f7;

	--primary-txt-color: #151214;
	--secondary-txt-color: #767b87;
	--tertiary-txt-color: #d2d1dd;
	--quaternary-txt-color: #e8e7f1;

	--gray-shade-1: var(--quaternary-bg-color);
	--gray-shade-2: #e5e5ea;
	--gray-shade-3: #d1d1d6;
	--gray-shade-4: #c7c7cc;
	--gray-shade-5: #aeaeb2;
	--gray-shade-6: #76767a;

	--header-bg-color: var(--primary-bg-color);
	--orange-background: rgba(255, 149, 0, 0.3);
	--orange-primary: var(--primary-txt-color);

	/*
	grid-background
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='%23f1f5f9'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");

	--defaultBackground: var(--primary-bg-color);
	/* --default-bg-color: #fff; *
	--blue-background: #e8f0ff;
	--blue-primary: #1657b1;
	--orange-background: #fee9d7; /* #ffe9d6; *
	--orange-primary: #995300;
	--purple-background: #e9d2fd;
	--purple-primary: #7934b3;
	--red-background: #fad2cf;
	--red-primary: #862424;
	--darkBlack: #161618;
	--offBlack: #202124;
	--fadedOffBlack: #313337;
	--offWhite: #ececf1; /* #f7f7f8; *
	--fadedOffWhite: #fff; */

	--headerHeight: 60px;
	--sidePadding: 2.5rem;
	--topPadding: calc(var(--sidePadding) / 2);
	--borderRadius: 6px;
}

:root.dark {
	--primary-bg-color: #202124;
	--secondary-bg-color: #303136;
	--tertiary-bg-color: #3c4043;
	--quaternary-bg-color: #585b63;

	--primary-txt-color: #f2f2f7;
	--secondary-txt-color: #989899;
	--tertiary-txt-color: #5a5a5e;
	--quaternary-txt-color: #404044;

	--gray-shade-1: #1c1c1e;
	--gray-shade-2: #2c2c2e;
	--gray-shade-3: #3a3a3c;
	--gray-shade-4: #48484a;
	--gray-shade-5: #636366;
	--gray-shade-6: #c0c0c7;

	--header-bg-color: rgba(32, 33, 36, 0.96);
	--orange-background: rgba(255, 157, 10, 0.3);
}

.body {
	/* background-color: #ddf4ff;
	color: #2e3540; */

	--body-bg-color: #202124;
	--button-hover-bg-color: rgba(248, 249, 250, 0.09);
	--cdk-overlay-backdrop-bg-color: rgba(0, 0, 0, 0.87);
	--dialog-bg-color: #202124;
	--icon-button-color: #dadce0;
	--icon-button-disabled-color: rgba(232, 234, 237, 0.38);
	--mat-chip-bg-color: #3c4043;
	--mat-chip-color: #e8eaed;
	--mat-menu-bg-color-hover: #5f6368;
	--mat-menu-bg-color: #404243;
	--mat-menu-color: #e8eaed;
	--mat-menu-disabled-color: rgba(232, 234, 237, 0.38);
	--mat-slide-toggle-bar-bg-color: rgba(81, 149, 234, 0.54);
	--mat-slide-toggle-disabled-bg-color: hsla(0, 0%, 100%, 0.2);
	--mat-slide-toggle-thumb-bg-color: #6ba5ed;
	--mat-snackbar-bg-color: #202124;
	--mat-snackbar-border-color: #3c4043;
	--mat-snackbar-btn-hover-focus-bg-color: rgba(248, 249, 250, 0.09);
	--mat-snackbar-color: #fff;
	--scroll-bar-bg-color: hsla(0, 0%, 100%, 0.2);
	--mdc-switch-on-track-color: #1a73e8;
	--mdc-switch-on-handle-color: #8eb7f8;
	--mdc-switch-on-handle-transition-color: #afccfa;
	--mdc-switch-off-handle-color: #9fa3a9;
	--mdc-switch-off-track-color: #5f6368;

	--glyph-gray-secondary-alt: #a1a1a6;
	--glyph-gray-tertiary: #6e6e73;
	--glyph-gray: #f5f5f7;

	--fill-tertiary: #1d1d1f;
	--fill-tertiary-alt: #111;
	--fill-tertiary-override: #f5f5f7;
	--fill-blue-tertiary: #081021;
	--fill-gray-tertiary: #424245;
	--fill-gray-quaternary: #333336;
	--fill-gray-quinary: #222;
	--fill-blue-gradient-light: #0e3768;
	--fill-blue-gradient-dark: #07172a;
	--fill-gradient-gray-start: #161616;
	--fill-gradient-gray-end: #000;
	--fill-table: #1d1d1f;
}

html,
body,
body > div,
main,
.fullHeight {
	/* position: relative; */
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	box-sizing: border-box;
	font: 16px Arial, Helvetica, sans-serif;
	color: var(--offBlack);
	background-color: var(--defaultBackground);

	color: var(--primary-txt-color);
	background-color: var(--primary-bg-color);
}
main > section,
.widest {
	max-width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
}
.fullWidth {
	max-width: unset;
}
main > section {
	padding: var(--sidePadding);
}
.container {
	position: relative;
}
.spacedContainer {
	padding-top: 1.5rem;
}
h1,
h2,
h3 {
	/* font-family: 'Inter', Arial, Helvetica, sans-serif;
	font-weight: 600;
	line-height: 1.25; */
	color: var(--darkBlack);
}
h1::first-letter,
h2::first-letter {
	text-transform: capitalize;
}
/* h1 {
	font-size: 60px;
	margin: 0 0 18px;
}
h2 {
	max-width: 55%;
	font-size: 40px;
	margin: 0 0 24px;
	text-transform: uppercase;
}
h2 span {
	color: #777a7d;
}
h3 {
	font-size: 28px;
	margin: 0 0 12px;
	font-weight: 400;
	color: var(--fadedOffBlack);
}

h1 {
	font: 600 5.8125rem/1 'Inter', Arial, Helvetica, sans-serif;
	letter-spacing: -1.5px;
}
h2 {
	font: 600 3.625rem/1.2 'Inter', Arial, Helvetica, sans-serif;
	letter-spacing: -0.5px;
}
h3 {
	font: 400 2.9375rem/1 'Inter', Arial, Helvetica, sans-serif;
}
h4 {
	font: 400 2.0625rem/1 'Inter', Arial, Helvetica, sans-serif;
	letter-spacing: 0.5px;
} */

h1,
h2,
h3,
h4,
h5 {
	margin: 3rem 0 1.38rem;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	line-height: 1.3;
}
h1 {
	margin-top: 0;
	font: 600 4.209rem/1.15 'Inter', Arial, Helvetica, sans-serif;
	letter-spacing: -0.75px;
}
h2 {
	font-size: 3.157rem;
}
h3 {
	font-size: 2.369rem;
	letter-spacing: 0.75px;
}
h4 {
	font-size: 1.777rem;
	letter-spacing: 1px;
	color: var(--secondary-txt-color);
}
h5 {
	font-size: 1.333rem;
	color: var(--secondary-txt-color);
}
p {
	letter-spacing: 0.5px;
	margin-bottom: 1rem;
}
.small_text {
	font-size: 0.75rem;
}

.title {
	letter-spacing: 0;
	line-height: 1.5rem;
	padding: 0;
	color: var(--secondary-txt-color);
	padding-bottom: 0.5rem;
	font-weight: 500;
	font-size: 1em;
}
.card {
	padding: var(--topPadding);
	border: 2px solid var(--gray-shade-2);
	border-radius: var(--borderRadius);
	box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 10%) 0px 2px 4px -2px;
	/* box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 10%) 0px 1px 2px -1px; */

	/* box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(15, 23, 42, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px; */

	/* box-shadow: rgba(16, 24, 40, 0.16) 0px 12px 24px -12px; */

	/* small */
	/* box-shadow: rgb(0 0 0 / 5%) 0px 1px 2px 0px; */

	/* reg */
	/* box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 10%) 0px 1px 2px -1px; */

	/* med */
	/* box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 10%) 0px 2px 4px -2px;

	box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 10%) 0px 4px 6px -4px;

	box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -5px, rgb(0 0 0 / 10%) 0px 8px 10px -6px;

	box-shadow: rgb(0 0 0 / 25%) 0px 25px 50px -12px; */
}
.bold {
	font-weight: 700;
	font-weight: 600;
}
.center {
	max-width: 600px;
	margin: 0 auto;
}

.subtext {
	/* padding-left: .2rem; */
	font-size: 0.8rem;
	color: var(--secondary-txt-color);
}

a, a:visited {
	color: #0969da;
	text-decoration: none;
	transition: all ease-in-out 50ms;
}
a:hover {
	color: #1065c5;
}

label {
	display: block;
}

input,
select,
textarea {
	height: 2em;
	font-family: inherit;
	font-size: inherit;
	/* -webkit-padding: 0.4em 0; */
	/* padding: 0.4em; */
	padding: 0 8px;
	/* margin: 0 0 0.5em 0; */
	margin: 0;
	box-sizing: border-box;
	background-color: var(--secondary-bg-color);
	border: solid 2px var(--gray-shade-2);
	border-radius: var(--borderRadius);
	color: var(--primary-txt-color);
}
input.small {
	font-size: 0.875rem;
	padding: 0 0.5rem;
}
input:focus,
select:focus,
textarea:focus {
	border: solid 2px var(--gray-shade-6);
	outline: none;
}
select {
	width: 100%;
	height: 2em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	/* background-image: url('icons.svg#expand');
	background-size: contain; */
	fill: var(--primary-txt-color);
	background: url("data:image/svg+xml,<svg height='24px' width='24px' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'><path d='m24 30.75-12-12 2.15-2.15L24 26.5l9.85-9.85L36 18.8Z'/></svg>")
		var(--secondary-bg-color) no-repeat;
	background-position: calc(100% - 8px) center !important;
	cursor: pointer;
}
select.small {
	font-size: 0.875rem;
	padding: 0 0.5rem;
}
select option {
	padding: calc(var(--topPadding) / 2) var(--topPadding);
	background-color: var(--secondary-bg-color);
}

input[type='text'] {
	margin-left: 8px;
	margin-block-end: 0.5rem;
}
input:disabled {
	color: #ccc;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.clear {
	opacity: 0;
}
.icon {
	height: 24px;
	width: 24px;
	cursor: pointer;
}

/* custom scroll bar */
::-webkit-scrollbar {
	width: 18px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	border: 5px solid transparent;
	background-clip: padding-box;
	border-radius: 2rem;
	background-color: #bdbdbf;
	transition: all ease-in-out 500ms;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #8e8e90;
}
