<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="./favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content=""><title>Home | Parshandata</title><meta name="description" content="Have the ability to search Tanach with great control" data-svelte="svelte-xngz68">
	<link rel="stylesheet" href="/_app/immutable/assets/pages/__layout.svelte-b3c85cbe.css">
	<link rel="stylesheet" href="/_app/immutable/assets/Button-10d88990.css">
	<link rel="stylesheet" href="/_app/immutable/assets/pages/index.svelte-4c05d4cc.css">
	<link rel="modulepreload" href="/_app/immutable/start-dc9d68fa.js">
	<link rel="modulepreload" href="/_app/immutable/chunks/index-dcd3d23b.js">
	<link rel="modulepreload" href="/_app/immutable/pages/__layout.svelte-c47635ae.js">
	<link rel="modulepreload" href="/_app/immutable/chunks/Button-12403de6.js">
	<link rel="modulepreload" href="/_app/immutable/pages/index.svelte-da676790.js">
	</head>
	<body>
		<div>


<header class="svelte-ahig9y"><div class="row"><a href="../" sveltekit:prefetch class="svelte-ahig9y"><h1 id="pageTitle" class="svelte-ahig9y">Parshandata</h1></a>
		</div></header>
<div class="prompt svelte-18hq154  warn"><div class="widest">Please understand the search engine is still in alpha testing. </div></div>
<main class="svelte-13pmy0u">

<section class="svelte-tf12h3"><h2>The basics</h2>

	<div class="row svelte-tf12h3">

		<div class="card svelte-tf12h3"><div><div class="icon svelte-tf12h3"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm3.293 1.293a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 01-1.414-1.414L7.586 10 5.293 7.707a1 1 0 010-1.414zM11 12a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg></div>
					<div><div class="title bodyLarge bold svelte-tf12h3">Search Tanach</div>
						<div class="desc bodySmall svelte-tf12h3">With advanced functionality</div>
					</div></div>
			</div><div class="card svelte-tf12h3"><div><div class="icon svelte-tf12h3"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm3.293 1.293a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 01-1.414-1.414L7.586 10 5.293 7.707a1 1 0 010-1.414zM11 12a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg></div>
					<div><div class="title bodyLarge bold svelte-tf12h3">Gemtria calulator</div>
						<div class="desc bodySmall svelte-tf12h3">Multiple methods at once</div>
					</div></div>
			</div></div>
</section></main>




		<script type="module" data-sveltekit-hydrate="15clpcm">
		import { start } from "/_app/immutable/start-dc9d68fa.js";
		start({
			target: document.querySelector('[data-sveltekit-hydrate="15clpcm"]').parentNode,
			paths: {"base":"","assets":""},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [0, 3],
				params: {},
				routeId: ""
			}
		});
	</script></div>
	</body>
</html>
